@import "variables";

#bannerI{height:500px;}
#bannerI>div.row,#bannerII>div.row,#bannercatalogo>div.row{height:100%!important;}
#bannerI p{margin:0;}
#bannercatalogo,#bannercatalogo>div.row{min-height:200px;}
#bannercatalogo h5{padding: 1rem 3rem;background-color:@gris_oscuro;color:@blanco;width:100%;max-width:950px;}
#bannercatalogo h5>a{margin-left:5px;color:@blanco;text-decoration:none;font-weight:bold;}
#bannercatalogo h5>a,#bannercatalogo h5>a:hover,#bannercatalogo h5>a:focus,#bannercatalogo h5>a:active{color:@blanco;text-decoration:none;}
#bannerII{min-height:400px;background-attachment:fixed!important;}
#bannerII>div.row{min-height:400px;}

#bannerII a.social{color:@blanco;padding:1px;border:1px solid @blanco;border-radius:16px;text-align:center;display:block;}
#bannerII a.social svg{height:23px;width: 28px;padding-top:4px;}
#bannerII p{margin:0;}
#primfooter{margin:0;}