@import "variables";

#navbar.fixed-top .logoUshop, .logoUshop.responsiveLogo {top: 2.5px!important;}

#bannerI,#bannerI .item,#bannerI .item > div.row{height:500px;}
#bannerI p{margin:0;}
#equipo>div.row{height:100%;}
#equipo{background-color: #FFF;}
#bannerI div.row,#bannerI>div.row>div.col{height:100%;}

#empresa{min-height:600px;}
#empresa div.row,.valores>div.row{height:100%;min-height:400px;}
.valores > div.row{margin:0;}
.valores:nth-child(2n+1){padding:0px;}
#empresa .valores{min-height:400px;}
#empresa h4{font-weight:bold;color:@rojo;margin-bottom:1.5rem;}
/*#empresa .owl-carousel{max-width: 1410px;}*/
#empresa .owl-stage-outer{padding: 1rem 0;}

.servicios{min-height:600px;}
.servicios div.row,.servicios_in>div.row{height:100%;}
.servicios_in{padding:3rem 15px;}
.logobanner{height:120px;width:auto;}
.logobanner.logoright{background-position:center right;background-size:contain;}
.vborder{height:300px;width:1px;border:.5px solid @rojo;}
.vborder:nth-child(1){left: -5px;position: absolute;}
.vborder:nth-child(3){right: -5px;position: absolute;}
.itemval{max-width:370px;background-color:@blanco;padding:1.5rem 15px;-moz-box-shadow: 0px 0px 8px 4px rgba(150, 150, 150, 0.2),0px 0px 6px 12px  rgba(75,75,75,0.05);-webkit-box-shadow: 0px 0px 8px 4px rgba(150, 150, 150, 0.2),0px 0px 6px 12px  rgba(75,75,75,0.05);box-shadow: 0px 0px 8px 4px rgba(150, 150, 150, 0.2),0px 0px 6px 12px  rgba(75,75,75,0.05);}

#equipo{height:700px;}
#carouselEquipo{width:100%;/*max-width:1400px;*/}
#carouselEquipo,#carouselEquipo .carousel-item{height:440px;}
#carouselEquipo .carousel-indicators{margin:0!important;position:relative!important;top:0!important;left:0!important;right:0!important;bottom:0!important;}
#carouselEquipo .carousel-indicators li{background-color:transparent!important;border:none!important;font-size: 1.125rem;padding:1rem 1.5rem;cursor:pointer;width:auto!important;height:auto!important;text-indent:0!important;}
#carouselEquipo .carousel-indicators li.active{background-color:transparent!important;border:none!important;color:@rojo;font-weight:bold;}

#navservi>nav{background-color:@negro!important;}
#navbarempresa>ul>li:nth-child(5){min-width: 130px;}
#navbarempresa>ul>li{padding:0;}
#navbarempresa>ul>li>a{color:@blanco;text-decoration:none;}
#navbarempresa>ul{width:100%!important;}
#navbarempresa{max-width:1290px;text-align:center;}

.w250{max-width:250px;}
.w200{max-width:200px;}
.w150{max-width:150px;}
.w120{max-width:120px;}
.w250,.w200,.w150{height:450px;margin:0 .5rem;}
.band_black{background-color:#FFF;height:100px;position:absolute;top:~"calc(50% - 50px)";z-index:0;}
.band_black.right{right:-1000px;left:0;}
.band_black.left{right:0;left:-1000px;}
.linkrojo,.linkrojo:hover,.linkrojo:focus{color:@rojo;text-decoration:none;}
.pluservi{width:40px;}
.pluspan{height:40px;display:block;width:100px;float:right;line-height:40px;}
.pluspan.rojo{color:@rojo;}
.pluservi.blanco{fill:@blanco;}
.pluservi.rojo{fill:@rojo;}
.refplus{display:block;width:150px;float:right;}
/*.refplus:hover>svg{-webkit-transform: rotate(360deg);transform: rotate(360deg);}*/
#seguridad .logobanner.logoright{background-size:65%;}
.toproducts{top:35px;}
#navproductos.toproducts{-moz-box-shadow: 0 4px 2px -2px rgba(150, 150, 150, 0.8);-webkit-box-shadow: 0 4px 2px -2px rgba(150, 150, 150, 0.8);box-shadow: 0 4px 2px -2px rgba(150, 150, 150, 0.8);}
#navproductos .nav-link.active{color:@rojo;border:2px solid @rojo;font-weight:bold;}
#carouselEquipo h5{font-size:1.1rem!important;}

.swiper-slide {height: 50%!important;overflow: hidden;padding:.5rem;}
.swiper-slide img {width: 100%;height: auto;}

.modalempushop h4 {color:#FFF;}
.modalempushop .modal-content,.modalempushop .modal-header {border-radius: 0!important;}
.modalempushop .modal-header {background-color: @gris_oscuro;height: 70px;}
.modalempushop .modal-body {height: ~"calc(100vh - 70px)";}
.modalempushop .modal-header button{border: none;background-color: transparent;font-size: 1rem;color: #FFF;cursor: pointer;}
.modalempushop .cerrar {box-shadow: 0 0 5px #333;position: absolute;bottom: 20px;right: 20px;max-width: 100% !important;width:auto;z-index:10;}
.modalempushop .swiper-pagination-bullet-active {background: @rojo!important;opacity: 1!important;}
.modalempushop .swiper-pagination-bullet {background: @gris_oscuro;opacity: 0.4;}
.modalempushop div.boxall {box-shadow: 0 0 5px #333;overflow: hidden;height: 96%;width:100%}
.modalempushop .img{width: 100%;height: 100%;background-size: cover;}

@media (max-width: 991px){
    .vborder{display:none;}
}
@media (max-width: 767px){
    #carouselEquipo .carousel-indicators,.col.w200.background-banner{display:none;}
    #navservi,#equipo .carousel-indicators{display:none!important;}
    #seguridad .logobanner.logoright{background-size:50%;}
}
@media (max-width: 530px){
    .col.w150.background-banner{display:none;}
    #seguridad .logobanner.logoright{background-size:70%;}
}
@media (max-width: 410px){
    #seguridad .logobanner.logoright{background-size:90%;}
}