@import "variables";

#bannerI{height:500px;background-color:@negro;}
#bannerI .owl-nav{width:100%;position:absolute;top:~"calc(50% - 15px)";left: 0;}
#bannerI .owl-item iframe{width:100%;}
#bannerI>.row>.col{padding:0;}
#bannerI .owl-item  .item,#bannerI .owl-item  img{height:500px;}
#bannerI #controlClip{opacity:0;cursor:pointer;position:absolute;z-index:1;top:~"calc(50% - 36px)";padding:0;left:~"calc(50% - 36px)";background-color:transparent;border:none;border-radius:38px;}
#bannerI .owl-carousel video:hover ~ #controlClip,#controlClip:hover{opacity:1;}
#controlClip:hover{opacity:1!important;border:none!important;color:red;}
#controlClip:hover:focus:active,#controlClip:hover:focus,#controlClip:active:focus,#controlClip:active{outline:none!important;border:none!important;border:0!important;}
#bannerI #play{display: show;}
#bannerI #pause{display: none;}
#bannerI video{min-height:500px;width:100%;position:fixed;}
#bannerI video.verticalcenter{transform: translate(0, -25%);}
#services{height:600px;color:@blanco;background-color:@rojo;background-image:url(../img/secc2_home.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;}
#services .owl-item>div{max-width:400px;height:370px;}
#services .owl-item>div{background-position:center;background-repeat:no-repeat;background-size:100% 370px;}
#services .owl-item>div.eco{background-image:url(../img/services/eco.svg);}
#services .owl-item>div.pop{background-image:url(../img/services/pop.svg);}
#services .owl-item>div.eventos{background-image:url(../img/services/eventos.svg);}
#services .owl-item>div.gourmet{background-image:url(../img/services/gourmet.svg);}
#services .owl-item>div.impresos{background-image:url(../img/services/impresos.svg);}
#services .owl-item>div.medios{background-image:url(../img/services/medios.svg);}
#services .owl-item>div.muebleria{background-image:url(../img/services/muebleria.svg);}
#services .owl-item>div.seguridad{background-image:url(../img/services/seguridad.svg);}
#services .owl-item>div .paragrahservi{margin-top:155px;margin-left:0;margin-right:0;height:135px;overflow:hidden;}
#produts{height:800px;background-color:@gris_claro;}
#produts>div.row>div.col-11,#services>div.row>div.col-11{margin:0 auto;padding:0;}
#produts .owl-item,#produts .owl-item>div>div.card{height:600px;}
#produts .owl-item>div>div.card{overflow:hidden;}
#produts .owl-item>div>div.card div.row{padding:0;}
#produts .owl-item>div>div.card div.img{max-width:260px;height:350px;margin:0 auto;}
#produts .owl-item>div>div.card div.card-body{height:250px;}
#produts .owl-item>div>div.card div.card-body h5{color:@gris_medio;}
#produts .btn-red-bld{width:70%;max-width:1000px;height:60px;}
#produts>div.row>div[class*='col']>div[class*='col']:nth-child(2){padding-top:15px;}
#produts .breadcrumb span{float:left;line-height:1.2rem;padding-right:5px;}
#produts .breadcrumb{color:@rojo;background-color:transparent!important;margin:0;border:none;border-radius:0px;padding:0;font-size:.6rem;font-weight: 400;line-height:1.2rem;}
#produts .breadcrumb>li>a{color:@rojo;text-decoration:none;text-transform:uppercase;}
#produts .breadcrumb-item + .breadcrumb-item::before {color:@rojo!important;}
#produts .pdescrip{float:right;}
#bannerII{height:500px;background-attachment:fixed;background-size:cover;background-position:50% 50%;}
#bannercontact{min-height:150px;background-color:@gris_oscuro;}
#bannercontact>div.row,#packideal>div.row,#customers>div.row,#produts>div.row,#produts .owl-item>div>div.card>div.row,#produts .owl-item>div>div.card .card-body>div.row,#services>div.row,#services .owl-item>div>div.row{height:100%;}
#bannercontact>div.row>div.col{min-width:250px;}
#bannercontact a{line-height: 35px;}
#packideal{height:600px;background-color:@gris_oscuro;background-image:url(../img/secc6_home.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;}
#packideal>div.row>div[class*='col']:nth-child(1) .owl-carousel p{width:250px;margin:0 auto;}
#packideal .pack-icon{width:130px;margin:0 auto;}
#packideal .pack-icon.row>div.col{padding:0;}
#packideal .img{width:130px;height:95px;margin: 10px 0 15px;}
#packideal .owl-nav{color:rgba(255, 255, 255, .2)!important;}
#packideal a{color:@blanco!important;}
#prinbanner .row{height:80%;}
#prinbanner p{margin:0;}
#bottombanner{height:100px;position:absolute;bottom:0;width:100%;z-index:10;}
#bottombanner a{width:160px;height:40px;}
#bottombanner .logobanner{height:40px;width:100px;}