@import "variables";

/***/
.list-ppp {max-height: 200px;overflow-y: auto;z-index: 1100!important;}
.list-ppp > li{min-height: 32px;}
.ushopicon,.list-ppp i.ui-state-active,.list-ppp i.ui-state-active:hover{background: url(../img/favicon_Ushop_32.png) center no-repeat !important;width: 32px;height: 32px;border: none!important;background-size: contain !important;}
.list-ppp span.ui-state-active{color:@rojo!important;border: none!important;background: transparent!important;font-weight: 500!important;}
.spinner{top: 4px;position: absolute;right: 20px;display:none;}
/***/
.p0{padding:0;}
.m0{margin:0;}
.max-width-none{max-width:none!important;}
.flex{display:flex;}
.justify-content-center{justify-content:center!important;}
.fixed_s{display:none;}
.rojo,.rojo a{color:@rojo!important;}
.rojo a{text-decoration:none!important;}
header{background-color:@blanco;}
header .list-inline{margin-bottom:0!important;}
body{color:@gris_oscuro;}
h5{font-size:1.5rem;}
h5 p{display:inline-block;}
a:hover {text-decoration: none!important;}
#navbar{font-weight: 100 !important;font-size: 13px;}
#navbar>div.row>div.col{height:170px;max-width:2048px;}
#navbar.fixed-top{background-color: transparent!important;}
#navbar.fixed-top>div.row>div.col{height:auto;}
#navbar form,#navbar form>input{width:145px;height:20px;}
#navbar form>input{border-radius:20px;background-color:transparent;line-height:20px;font-size:14px;}
#navb1{height:30px;padding:0 1rem;}
#navb2{height:35px;padding:0 1rem;}
#navb1 form>input{color:@rojo!important;}
#navb2 form>input{color:@blanco!important;}
#navb1{min-height:40px;width:100%;max-width:640px;background-color:@blanco;border: @rojo 1px solid;border-top:0;}
#navb2{min-height:45px;width:100%;max-width:500px;background-color:@rojo!important;}
#navbar.fixed-top #navb1{min-height:40px;}
/*#navbar.fixed-top form{position:static;}*/
#navbar.fixed-top form>input{border:1px solid @blanco;}
/*#navbar form{position: absolute;right: 110px;top: 5px;}*/
#navbar form{position:relative;}
#navb1 a{color:@gris_medio;}
#navb2 a{color:@blanco;}
#navb1 a.social{padding: 1px;border: 1px solid @gris_medio;border-radius: 12px;text-align: center;display: block;width: 20px;height: 20px;position: relative;top:2px;}
#navb1 a.social svg{height: 14px;width: 14px;padding: 0px;top: 2px;position: absolute;left: 2px;}
#c_navb1.absolute{position:absolute!important;}
#c_navb1.absolute #navb1{padding: right 1.5rem!important;}
#c_navb2.absolute{position:absolute!important;right:0!important;}
#navbarNav,#navbarSupportedContent{justify-content:flex-end;}
.container{overflow:hidden;}
.self-center{margin:0 auto;}
input[type="button"].self-center{display:block;}
.btn-red-lgt{cursor:pointer;height:50px;width:250px;color:@rojo!important;border:@rojo solid 1px!important;background-color:transparent!important;border-radius:0!important;}
.btn-red-bld{cursor:pointer;color:@blanco!important;border:@rojo solid 1px!important;background-color:@rojo!important;border-radius:0!important;}
.btn-red-lgt.focus,.btn-red-lgt:focus,
.btn-red-bld.focus,.btn-red-bld:focus{outline:0!important;-webkit-box-shadow:0 0 0 .2rem rgba(164,0,0,.25)!important;box-shadow:0 0 0 .2rem rgba(164,0,0,.25)!important;}
.btn-gray-bld{cursor:pointer;font-weight:bold;color:@blanco!important;border:@gris_oscuro solid 1px!important;background-color:@gris_oscuro!important;border-radius:0!important;}
.btn-gray-bld.focus,.btn-gray-bld:focus{outline:0!important;-webkit-box-shadow:0 0 0 .2rem rgba(75,75,75,.25)!important;box-shadow:0 0 0 .2rem rgba(75,75,75,.25)!important;}
.btn-gray-bld{width:100%;max-width:400px!important;height:50px;}
a.btn-red-lgt[type=button]{-webkit-appearance: initial;}
.text-blanco{color:@blanco;}
.text-rojo{color:@rojo;}
body>.container{max-width: 2048px;}
body>.container>.row:nth-child(1){min-height:100vh;}
footer{min-height:550px!important;background-color:@gris_oscuro;background-image:url(../img/footer.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;}
footer, footer a{color:@blanco!important;text-decoration:none!important;}
footer a:hover, footer a:focus, footer a:focus:hover{text-decoration:none!important;}
footer>div.row>div.col>div.row{min-height:550px;}
footer p{margin:0;}
footer p>small.sublist{padding-left:2em;}
#borderfooter{max-width:500px;border:1px solid @rojo;}
#borderfooter>div.row{padding:1rem;}
#borderfooter p{margin-bottom:0;}
#borderfooter a.social{padding: 1px;border: 1px solid @blanco;border-radius: 12px;text-align: center;display: block;width: 20px;height: 20px;position: relative;top:2px;}
#borderfooter a.social svg{height: 14px;width: 14px;padding: 0px;top: 2px;position: absolute;left: 2px;}

.logoUshop, .responsiveLogo{background-image:url(../img/logosimple_ushop.svg);background-position:left center;background-repeat:no-repeat;height:76px;position:absolute;top:40px;left:7.3%;width:190px;}
#navbar.fixed-top .logoUshop,.logoUshop.responsiveLogo{height:30px!important;top:5px;width:80px;}
.logoUshop.responsiveLogo{background-position:center;height:40px!important;right: 6.3%;}
#responav a{margin-right:1rem;}

#map{height:400px;}
#map .gTitle{background-image:url(../img/logosimple_ushop.svg);background-position:center;background-repeat:no-repeat;height:36px;}
.background-banner{background-repeat:no-repeat;background-position:center;background-size:cover;}
/*#fontactoform .form-group{margin-bottom:0.3rem!important;}*/
#formcontacto{min-height:600px;background-color:@rojo;}
#formcontacto>div.row,#bannercatalogo>div.row{height:100%;}
#formcontacto>div.row>div.col>div.row>div[class*='col']{max-width:1207px;padding:1.5rem 0;}
#formcontacto h5{color:@blanco;text-align:center;}
#fontactoform .max400{max-width:400px;}
#fontactororm .max1050{max-width:1050px;}
#fontactoform label{margin-bottom:0!important;color:@blanco;width:150px;}
#fontactoform .justify-content-start>label{padding-left:15px;}
#fontactoform .justify-content-end>label{padding-right:15px;}
#fontactoform input,#fontactoform textarea{border-radius:0!important;border:none!important;}
#fontactoform{padding:1.5rem 0;}
#su_contact{display:block;}
#su_contact:disabled{cursor:not-allowed;background-color:@gris_medio!important;}

#cc_navbrespon{display:none!important;}
#cc_navbrespon>div.row>div[class*='col']:nth-child(1){background-color:@blanco;height:50px;}
#cc_navbrespon>div.row>div[class*='col']:nth-child(2){background-color:@rojo;}
#cc_navbrespon>div.row>div[class*='col']:nth-child(2) .navbar-toggler{color:@blanco;height:35px;width:35px;border:none;background-image:url(../img/menu.svg);background-size:35px;background-position:center;background-repeat:no-repeat;}
#cc_navbrespon>div.row>div[class*='col']:nth-child(2) .navbar-nav{padding-top:15px;}
#cc_navbrespon>div.row>div[class*='col']:nth-child(2) a{color:@blanco;text-decoration:none;}
#btnCollapsefooter{display:none;}
#btnCollapsefooter{color:@blanco;height:35px;width:35px;border:none;background-color:transparent;background-image:url(../img/menu.svg);background-size:35px;background-position:center;background-repeat:no-repeat;}

.owl-nav{color:rgba(75, 75, 75, .2);width:108%;left:-4%;position:absolute;top:~"calc(50% - 15px)";}
.owl-next,.owl-prev{width:30px;height:40px;position:absolute;z-index:100;z-index:100;}
.owl-prev{left:15px;text-align:left;}
.owl-next{right:15px;text-align:right;}

.logobanner{background-position:center;background-repeat:no-repeat;height:60px;width:120px;}

#customers>div.row{height:100%;}
#customers{height:800px;background-color:@blanco;}
#customers .customersico{width:250px;height:100px;margin:0 auto;cursor:pointer;}
#customers .customersico .over{display:block; margin: 0 auto;}
#customers .customersico:hover> .over{display:block!important;}
#customers .customersico:hover> .svg{display:none;}
#customers .customersico .svg,#customers .customersico .over,
#customers .customersico svg{width:auto;height:90px;}
#customers .w-250{max-width:250px;width:100%;height:500px;}
#customers .w-250 img{height:500px;}

.fa-layers.fa-fw>svg:nth-child(1){font-size:20px;}
.fa-layers.fa-fw>svg:nth-child(2){width:20px;font-size:11px;}

#footertop{border-top:5px solid @rojo;max-width:1000px;}

.spanvalidate{position:absolute;top:2px;right:20px;display:none;}
.isvalid{color:@valid;}
.novalid{color:@invalid;}

#sending{position:absolute;bottom:0;opacity:.95;width:100%;height:100%;}
#sending,#sending .mensaje{display:none;}
#sending>.col-11>.row>.col-12{position:absolute;right:0;}
#sending .alert{background-color:rgba(255,255,255,.9);color:@rojo;}
#sending .h100,#sending>.col-11{height:100%;}
#dismis{display:none;}

.m170{max-width:170px!important;}
#formEquipo #myfile{padding:.25rem 0;overflow:hidden;}
#su_curriculum:disabled {cursor:not-allowed;background-color: #a42929 !important;}
#su_curriculum{width:100%;max-width:400px;height:50px;font-weight:bold;}
#errorfilesize{transition:opacity 1s;-webkit-transition:opacity 1s;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;}
#errorfilesize{position: absolute;bottom: 9px;left: 15px;right: 15px;z-index: -1;}
#errorfilesize.visible{z-index:3;}
#errorfilesize.visible{transition:opacity 1s;-webkit-transition:opacity 1s;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);-moz-opacity: 1;-khtml-opacity: 1;opacity: 1;}
#modalCurriculum{font-weight:bold;}
#modalCurriculum .eviando{display:none;position:absolute;left:30px;right:30px;top:0;height: 100%;background-color:rgba(255,255,255,.9);color:@rojo;}
#modalCurriculum .eviando span{padding-left:25px;}
#modalCurriculum .listo{display:none;}
#modalCurriculum .h100{height:100%;}
#dismissenv{height:25px;color:@rojo;display:none;}
#modalCurriculum .modal-header>h5{width:100%;text-align:center;color:@blanco;background-color:@gris_oscuro;padding:1rem 0;font-weight:bold;}

#c_btnin{position: absolute;right: 434px;bottom: 20px;}
#c_btnin>a.btn-gray-bld{font-weight: 100;width: 130px;height: 50px;display: block;line-height: 40px;text-align: center;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;
}
#cc_navbrespon a.btn-gray-bld{padding:.5rem 1rem;font-weight:100;}

#socialreposn{height:40px;padding-top:10px;}
#socialreposn a.social{display: block;}
#socialreposn a.social,#socialreposn a.social>svg{width: 20px;height: 20px;}
.nav-ushop{padding:0 .5rem;}
.nav-ushop>a{font-size: 14px;}
.navbar-nav>.nav-ushop:nth-child(3){padding-bottom:0;}
#btnrespin{display: inline-block;width: auto;height: 40px;line-height: 22px;}
hr{margin-top: .5rem;margin-bottom: .5rem;}
/*#primfooter{margin:0;}*/
nav>ul>li.active>a,ul.navbar-nav>li.active>a{font-weight:bold;font-size:12px;}
.btnsearch{border:none;background-color:transparent;color:@blanco;position:absolute;right:2px;}

#navb1 .btnsearch{color:@gris_medio!important;}
#responav{padding:.5rem 0!important;}

.btn-alt{
	display:flex;
	display:moz-flex;
	align-content:center;
	align-items:center;
}

#navbar.fixed-top #navb1>ul{padding-right:16%;}

@media (max-width: 1210px) {
    #fontactoform label{padding:0 15px 0 0;}
    #fontactoform label,#fontactoform input,#fontactoform .max400{width:100%;max-width:100%;}
}
@media (max-width: 800px) {
    .logoUshop{height:120px;top:45px;}
}
@media (max-width: 767px) {
    footer,footer>div.row>div.col>div.row{min-height:initial!important;height:auto;}
    #cc_navbrespon{display:block!important;}
    #cc_navb{display:none!important;}
    #btnCollapsefooter{display:block;}
    #fontactoform .max400,#fontactoform label{max-width:100%;}
    #borderfooter{margin:1rem auto;max-width:70%;}
    .listec{display:none;}
    #importadores{padding:1rem 15px;}
    #navbar form {position:static;}
    #navbar form, #navbar form > input {width: 100%;}
    #borderfooter{margin-right: 30px;}
    ul.navbar-nav>li.active>a{font-size:15px;}
}
/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.row-alt{
	position: relative;
	bottom: 3em;
}

.bloque-center{
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

#navb2 a:hover{
	color: #000;
	font-weight:bold;
}