@import "variables";

#bannerI{height:500px;}
#bannerI>div.row{height:100%;}
#tienda{min-height:200px;background-attachment:fixed!important;}
#tienda h5{padding: 1rem 3rem;background-color:@rojo;color:@blanco;width:100%;max-width:950px;}
#tienda h5>a{margin-left:5px;color:@blanco;text-decoration:none;font-weight:bold;}
#tienda h5>a,#tienda h5>a:hover,#tienda h5>a:focus,#tienda h5>a:active{color:@blanco;text-decoration:none;}
#tienda>div.row,#tecnicas>div.row,#importadores>div.row,#catalogo>div.row{height:100%;}
#tecnicas{height:1000px;background-color:@gris_claro;}
#tecnicas .bordered{width:1px;border:.5px solid @rojo;height:400px;}
#importadores{min-height:600px;}
#contenimport{max-width:1100px;background-color: rgba(255, 255, 255, .5);padding: 3rem 5rem;margin-top: 1.5rem;}
#catalogo{min-height:400px;background-attachment:fixed!important;}
#catalogo>div.row{min-height:400px;}

.valores > div.row{margin:0;}
.valores:nth-child(2n+1){padding:0px;}
#tecnicas div.row,.valores>div.row{height:100%;min-height:650px;}
#tecnicas .valores{min-height:650px;}
#tecnicas h4{font-weight:100;color:@rojo;margin-bottom:1.5rem;}
/*#tecnicas .owl-carousel{max-width: 1410px;}*/
#tecnicas .owl-stage-outer{padding: 1rem 0;}
.vborder{height:500px;width:1px;border:.5px solid @rojo;}
.vborder:nth-child(1){left: -5px;position: absolute;}
.vborder:nth-child(3){right: -5px;position: absolute;}
.itemval{max-width:400px;background-color:@blanco;padding:1.5rem 15px;-moz-box-shadow: 0px 0px 8px 4px rgba(150, 150, 150, 0.2),0px 0px 6px 12px  rgba(75,75,75,0.05);-webkit-box-shadow: 0px 0px 8px 4px rgba(150, 150, 150, 0.2),0px 0px 6px 12px  rgba(75,75,75,0.05);box-shadow: 0px 0px 8px 4px rgba(150, 150, 150, 0.2),0px 0px 6px 12px  rgba(75,75,75,0.05);}
.cimg{width:~"calc(100% + 30px)";margin: 0 -15px -1.5rem -15px;}

.listec{margin-top:1rem;}
.listec a,.listec a:hover{font-size:1.1rem;color:@gris_oscuro!important;text-decoration:none!important;}
.listec a.active{color:@rojo!important;font-weight:bold;}
#bannerI p,#catalogo p{margin: 0;}
.textecnica{width:100%;}
#primfooter{margin:0;}

@media (max-width: 767px) {
    #contenimport{padding: 1rem .5rem;}
}

.spacing-text{
	word-spacing: 0.4em;
}