@import "variables";

h4{color: @rojo;}
/**/
#resultado{background-color: @gris_claro}
#banner,#banner .item,#banner .item > div.row{height:500px;}
#banner p{margin:0;}
#banner div.row,#banner>div.row>div.col{height:100%;}
#tecnica,
#producto,
#servicio
{max-width: 500px;max-height:900px;box-shadow: 0 0 5px #333;background-color: @blanco;overflow: hidden;}
#producto,#servicio{max-width: 1000px!important;}
#tecnica img,
#producto img,
#servicio img
{width: 100%;height: auto;}
#tecnica>div[class*='col']:nth-child(1)>div.w-100,
#producto>div[class*='col']:nth-child(1)>div.w-100,
#servicio>div[class*='col']:nth-child(1)>div.w-100
{max-height:900px;overflow-y: auto;overflow-x: hidden;}
#producto .breadcrumb {background-color: transparent!important;}
#producto .breadcrumb>li>a,#producto .breadcrumb>li>a:hover,#producto .breadcrumb>li>a:focus {color: @rojo!important;}
@media (max-width: 575px) {
    #tecnica>div[class*='col']:nth-child(1)>div.w-100,
    #producto>div[class*='col']:nth-child(1)>div.w-100,
    #servicio>div[class*='col']:nth-child(1)>div.w-100
    {max-height:500px;margin-bottom: .25rem}
}