
@valid: #155724;
@invalid: #856404;

.mt-0{margin-top: 0!important;}
.w-100{width: 100%!important;}
.word-break-normal{word-break: normal};
.word-break-all{word-break: break-all};
.media-body {width: 100%!important;}

.spanvalidate{position:absolute;top:2px;right:20px;display:none;}
.isvalid{color:@valid;}
.novalid{color:@invalid;}

#inputs {position: relative;}
/*.atras {position: absolute!important;z-index: -1!important;}*/
#formtablegal{display:none;}

#formgaleriaemp .media .media-img{position: relative;}
#formgaleriaemp .media input[type="file"]{position: absolute;top: 0;left: 0;right: 0;height: 100%;width: 128px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity:0;cursor: pointer;}
#formgaleriaemp .media .btn-ushop{color:#FFF;float:right;}
#formgaleriaemp .media .media-img>div{width: 128px;height: auto;display: block;margin: 0 auto;}
#formgaleriaemp #managimg label{padding-top: .5rem;line-height: normal;height: auto;}

#example .form-control,#example .form-group {margin: 0!important;}
#example td {padding-bottom: .5rem;}
#example .media {min-height: 100px;display: flex;}
#example .media input[type="text"]:disabled{cursor: default;}
#example .media div.media-left.media-middle a{height: 100px;display: flex;align-items: center;}
#example .media div.media-left.media-middle,#example .media div.media-body{display: flex;align-items: center;justify-content: left;}