@colorrojo:#a40000 !important;
@colorblanco:#ffffff !important;

.cerrarsession_header > a:hover, .bloquear_header > a:hover{
	background-color:#4b4b4b !important;
}

.cerrarsession_header > a:hover::after{
	content:" Salir"
}

.bloquear_header > a:hover::after{
	content:" Bloquear"
}

#link-to > a:hover::after{
	content:" Ir al sitio"
}

#config-to > a:hover::after{
	content:" Configurar"
}

.skin-blue .main-header .navbar {
    background-color: #4b4b4b !important;
}

.card-backend{
	max-width: 278px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title-preview{
	color: #969696;
	font-size: 1.5rem;
	margin-bottom: .75rem;
}

.skin-blue .main-header .logo {
    background-color: @colorblanco;
    color: @colorblanco;
    border-bottom: 0 solid transparent;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: @colorblanco;
}

.fa-color-ushop{
	color:#a40000 !important;
}

.skin-blue .sidebar-menu > li.header {
    color: @colorblanco;
    background: #4b4b4b;
}

.skin-blue .form-control, .skin-blue .form-group .form-control {
    background-image: linear-gradient(@colorrojo, @colorrojo),linear-gradient(#D2D2D2, #D2D2D2);
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #ffffff;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
    color: #4b4b4b;
	font-weight:bold;
}

.skin-blue .sidebar-menu > li > .treeview-menu{
	background-color: #1a2226 !important;
}

.skin-blue .sidebar-menu > li > .treeview-menu > li > a{
	color:#ffffff;
}

.bg-red-ushop{
	background-color:#4b4b4b;
}

.skin-blue .progress .progress-bar, .skin-blue .progress .progress-bar.progress-bar-default {
    background-color: #ffffff !important;
}

.skin-blue .progress-description > .ushop-link{
	color:#ffffff !important;
}

.bg-red-ushop > span > a > i,.bg-red-ushop > div{
	color:#ffffff !important;
}

.skin-blue .sidebar-menu > li:hover > a{
	color: @colorblanco;
	border-left-color:@colorblanco;
    background: #4b4b4b !important;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a,
.skin-blue .sidebar-menu > li.menu-open > a > i, .skin-blue .sidebar-menu > li.active > a > i,
.skin-blue .sidebar-menu > li.menu-open > a > span, .skin-blue .sidebar-menu > li.active > a > span{
    color: @colorblanco;
	border-left-color:@colorblanco;
    background: @colorrojo !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover,.skin-blue .main-header .navbar .sidebar-toggle:hover > span {
    background-color: @colorblanco;
	color:@colorrojo;
	font-weight:bold;
}

.info, .info > a{
	color:@colorrojo;
}

.treeview > a > i{
	font-weight:bold;
	color:@colorrojo;
}

.treeview > a > span{
	font-weight:bold;
	color:#4b4b4b;
}

.treeview:hover > a, .treeview:hover > a > span, .treeview:focus > a{
	font-weight:bold;
	color:@colorblanco;
	background-color:#4b4b4b;
	border-left-color:@colorblanco;
}

.treeview .menu-open:hover > a > i{
	color:#4b4b4b;
}

.navbar-nav > li > a > i{
	font-weight:bold;
	color:@colorblanco;
}

.treeview > a:hover > i{
	font-weight:bold;
	color:@colorblanco;
}

.treeview > a > i{
	font-weight:bold;
	color:#4b4b4b !important;
}

.menu-banner > li > a > i{
	font-weight:bold;
	color:@colorblanco;
}

.treeview-menu > li.active{
	font-weight:bold;
	border-bottom:2px solid @colorrojo;
	border-left:2px solid @colorrojo;
}

.info > a > i, a > i{
	color:#a40000 !important;
}

#btnGuardarPrincipal:disabled, #btnGuardarCompleto:disabled{
	color:#ffffff;
}

.skin-blue a > i{
    color: #4b4b4b;
}

.form-group .is-focused .label-ushop, .form-group .is-focused label, .is-focused .label-ushop{
	color: @colorrojo !important;
	font-weight:bold;
}

.is-focused .secciones, .is-focused .url{
	color:@colorrojo;
}

.item-grid-picture{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-direction: column;
	border-style: dashed;
	padding: 1.0em;
	align-items: center;
}

.item-grid-picture-file{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
}

.logo-link{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 50%;
	flex-wrap: wrap;
	justify-content: center;
}

.li-style > a, .li-style > i, .li-style > a > i{
	/*background-color: @colorblanco;*/
	color: #4b4b4b !important;
	font-weight:bold;
}

.li-style > a:hover, .li-style:hover > a > i{
	color:@colorblanco !important;
}

.icologodown > i{
	color:@colorrojo !important;
}

.logo-instrucciones, .logo-productos{
    max-width: 260px;
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: @colorrojo;
    border-color: @colorrojo;
}

.bg-ushop-off{
	background-color:#a40000;
	cursor:pointer;
}

.bg-ushop-on{
	background-color:#ffffff;
}

.bg-ushop-on i{
	color:#a40000;
}

.bg-ushop-off i{
	color:#ffffff;
}

/*UTILIDADES*/
.display-flex{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.flex-center{
	.display-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-left{
	.display-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: left;
}


/*BOTONES*/
.btn-ushop{
	background-color: @colorrojo !important;
}

.btn-ushop:disabled > i, .btn-ushop:disabled{
	color:#ffffff !important;
}

.btn-ushop:hover{
	background-color: #a40000 !important;
	box-shadow: 4px 3px 7px 2px #4b4b4b !important;
}

.btn-ushop-link{
	background-color: #ffffff !important;
	color:@colorrojo;
}

.btn-ushop-link:hover{
	background-color: #ffffff !important;
	color:@colorrojo;
	box-shadow: 4px 3px 7px 2px #a40000 !important;
}

/*MODAL*/
.item-modal-header{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.item-modal-footer{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 1em;
}

.item-modal-border{
	border: 8px solid #a40000;
}