.lista{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	border: 2px solid #a40000;
	border-style: dashed;
}

.productos{
	display:block;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 1.0em;
}

.hoverbloque:hover{
	cursor:pointer;
}

.logo-alt{
	min-height: 400px;
	height: 400px;
}